head{
    background-color: rgb(80, 136, 150); 
    }


    body{
        background-color: rgba(70, 140, 180, 0.198); 
        }

        .abc123{
            width:60%;
            height:50%;
            float: left;
            margin: 5px;
            text-align: justify;
            font-size: 25px;
            left: 40 px;
        }
    }
        .h1card {
            left: 40 px; 
        }
    }


        img{
            width:100%;
            height:100%
        }

        .px-2 {
            padding-left: ($spacer * .5) !important;
            padding-right: ($spacer * .5) !important;
        }

        .col4 {
            width:10%;
            height:10%
        }
}
        .humid {
            width: 100%;
            height: 100%;
        }
